<h3>Welcome <%= @user.email %> </h3>

<h4><%= link_to 'Sign out', sign_out_path %></h4>

<div class="row">
  <div class="col-md-8">
    <%= image_tag("busy-board.jpg",           class: "img-responsive") %>
    <%= image_tag("rachel-and-emma.jpg",      class: "img-responsive") %>
    <%= image_tag("emma-headphones.jpg",      class: "img-responsive") %>
    <%= image_tag("emma-parts-and-labor.jpg", class: "img-responsive") %>
    <%= image_tag("emma-standing.jpg",        class: "img-responsive") %>
    <%= image_tag("emma-tree.jpg",            class: "img-responsive") %>
    <%= image_tag("emma-yelling.jpg",         class: "img-responsive") %>
  </div>


</div>
