<h3>Welcome <%= @user.email %> </h3>

<h4><%= link_to 'Sign out', sign_out_path %></h4>

<div class="row">
  <%= image_tag("https://s3.amazonaws.com/baugues/emma-wcr/busy-board.jpg", class: "img-responsive") %>
  <%= image_tag("https://s3.amazonaws.com/baugues/emma-wcr/rachel-and-emma.jpg", class: "img-responsive") %>
  <%= image_tag("https://s3.amazonaws.com/baugues/emma-wcr/emma-headphones.jpg", class: "img-responsive") %>
  <%= image_tag("https://s3.amazonaws.com/baugues/emma-wcr/emma-parts-and-labor.jpg", class: "img-responsive") %>
  <%= image_tag("https://s3.amazonaws.com/baugues/emma-wcr/emma-standing.jpg", class: "img-responsive") %>
  <%= image_tag("https://s3.amazonaws.com/baugues/emma-wcr/emma-tree.jpg", class: "img-responsive") %>
  <%= image_tag("https://s3.amazonaws.com/baugues/emma-wcr/emma-yelling.jpg", class: "img-responsive") %>
</div>
